.del {
  background: #d53131;
  color: wheat;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.todo{
  background: aliceblue;
  padding: 10px;
  border-bottom: 1px wheat dotted;
}

.is-complete{
  text-decoration: line-through;
}
